<input type="text" name="name" placeholder="name" #name />
<input type="text" name="title" placeholder="title" #title />
<input type="text" name="description" placeholder="description" #description/>
<button (click)="export(name.value, title.value, description.value)">STARTTTTTT!!!!</button>
<div class="content" role="main">
  <div *ngFor="let i of data;let j = index">
    <li *ngIf="data[j].url !== 'dummy'" style="font-size: 15px;">
      {{data[j].url}}
      <input
      type="checkbox"
      [checked]="false" 
      [value]="data[j].url" 
      name="mymodel" 
      [ngModel]="mymodel" 
      (ngModelChange)="onCheckboxChange(data[j].url,data[j].title, $event)"/>
    </li>
  </div>
</div>
<router-outlet></router-outlet>